<h1> Calendar for the Year 2019</h1></h1>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Calendar</title>
<style>


table {

	border: 1px solid black;
	margin: 2em; padding 0px;
	border-collapse: collapse;
}
td.DayOfWeek {
	border: 1px solid black;
	border-spacing: 0;
	width: 100px;
	height: 20px;
	background-color: lightblue;
	text-align: center;
}
td.DayNum {
	border: 1px solid black;
	background-color: white;
	border-spacing: 0;
	margin: 0; padding: 0px;
	width: 100px;
	height: 100px;
	vertical-align: top;
	padding-left: 5px;
	padding-top: 5px;
}
</style>
</head>
<body>
    <div>
        
        
        <!--------------------------------------------------------------------------------------------------------------------------------------------->
         <!--------------------------------------------------------------------------------------------------------------------------------------------->
         
         
<table style="width:45%" align="left">
  <tr>
    <th colspan="7"style="background-color:#7194da;color:white;text-shadow: 1px 1px black;">January</th>
  </tr>
  <tr>
    <td class="DayOfWeek" style = "color:#000000">Sunday</td>
    <td class="DayOfWeek" style = "color:#000000">Monday</td> 
    <td class="DayOfWeek" style = "color:#000000">Tuesday</td>
	<td class="DayOfWeek" style = "color:#000000">Wednesday</td>
	<td class="DayOfWeek" style = "color:#000000">Thursday</td>
	<td class="DayOfWeek" style = "color:#000000">Friday</td>
	<td class="DayOfWeek" style = "color:#000000">Saturday</td>
  </tr>
  <!-- <tr onclick="document.location='DayViewExample.html'" style="cursor:pointer"> -->
  <tr>
    <td class="DayNum" style="background-color:#c7c9cc"></td>
    <td class="DayNum" style="background-color:#c7c9cc"></td> 
    <td class="DayNum" style = "color:#FF0000">1</td>
	<td class="DayNum">2</td>
	<td class="DayNum">3</td>
	<td class="DayNum">4</td>
	<td class="DayNum">5</td>
  </tr>
  <tr>
    <td class="DayNum">6</td>
    <td class="DayNum">7</td> 
    <td class="DayNum">8</td>
	<td class="DayNum">9</td>
	<td class="DayNum">10</td>
	<td class="DayNum">11</td>
	<td class="DayNum">12</td>
  </tr>
  <tr>
    <td class="DayNum">13</td>
    <td class="DayNum">14</td> 
    <td class="DayNum">15</td>
	<td class="DayNum">16</td>
	<td class="DayNum">17</td>
	<td class="DayNum">18</td>
	<td class="DayNum">19</td>
  </tr>
  <tr>
    <td class="DayNum">20</td>
    <td class="DayNum" style = "color:#FF0000">21</td> 
    <td class="DayNum">22</td>
	<td class="DayNum">23</td>
	<td class="DayNum">24</td>
	<td class="DayNum">25</td>
	<td class="DayNum">26</td>
  </tr>
  <tr>
    <td class="DayNum">27</td>
    <td class="DayNum">28</td> 
    <td class="DayNum">29</td>
	<td class="DayNum">30</td>
	<td class="DayNum">31</td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
  </tr>
</table>


 <!--------------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------------------------------->
   <!--------------------------------------------------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------------------------------------------->
<table style="width:45%" align="right">
  <tr>
    <th colspan="7"style="background-color:#7194da;color:white;text-shadow: 1px 1px black;">Feburary</th>
  </tr>
  <tr>
    <td class="DayOfWeek" style = "color:#000000">Sunday</td>
    <td class="DayOfWeek" style = "color:#000000">Monday</td> 
    <td class="DayOfWeek" style = "color:#000000">Tuesday</td>
	<td class="DayOfWeek" style = "color:#000000">Wednesday</td>
	<td class="DayOfWeek" style = "color:#000000">Thursday</td>
	<td class="DayOfWeek" style = "color:#000000">Friday</td>
	<td class="DayOfWeek" style = "color:#000000">Saturday</td>
  </tr>
  <!-- <tr onclick="document.location='DayViewExample.html'" style="cursor:pointer"> -->
  <tr>
    <td class="DayNum" style="background-color:#c7c9cc"></td>
    <td class="DayNum" style="background-color:#c7c9cc"></td> 
    <td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum">1</td>
	<td class="DayNum">2</td>
  </tr>
  <tr>
    <td class="DayNum">3</td>
    <td class="DayNum">4</td> 
    <td class="DayNum">5</td>
	<td class="DayNum">6</td>
	<td class="DayNum">7</td>
	<td class="DayNum">8</td>
	<td class="DayNum">9</td>
  </tr>
  <tr>
    <td class="DayNum">10</td>
    <td class="DayNum">11</td> 
    <td class="DayNum">12</td>
	<td class="DayNum">13</td>
	<td class="DayNum">14</td>
	<td class="DayNum">15</td>
	<td class="DayNum">16</td>
  </tr>
  <tr>
    <td class="DayNum">17</td>
    <td class="DayNum" style = "color:#FF0000">18</td> 
    <td class="DayNum">19</td>
	<td class="DayNum">20</td>
	<td class="DayNum">21</td>
	<td class="DayNum">22</td>
	<td class="DayNum">23</td>
  </tr>
  <tr>
    <td class="DayNum">24</td>
    <td class="DayNum">25</td> 
    <td class="DayNum">26</td>
	<td class="DayNum">27</td>
	<td class="DayNum">28</td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
  </tr>
</table>
<!--------------------------------------------------------------------------------------------------------------------------------------------->
         <!--------------------------------------------------------------------------------------------------------------------------------------------->
         
         
<table style="width:45%" align="left">
  <tr>
    <th colspan="7"style="background-color:#7194da;color:white;text-shadow: 1px 1px black;">March</th>
  </tr>
  <tr>
    <td class="DayOfWeek" style = "color:#000000">Sunday</td>
    <td class="DayOfWeek" style = "color:#000000">Monday</td> 
    <td class="DayOfWeek" style = "color:#000000">Tuesday</td>
	<td class="DayOfWeek" style = "color:#000000">Wednesday</td>
	<td class="DayOfWeek" style = "color:#000000">Thursday</td>
	<td class="DayOfWeek" style = "color:#000000">Friday</td>
	<td class="DayOfWeek" style = "color:#000000">Saturday</td>
  </tr>
  <!-- <tr onclick="document.location='DayViewExample.html'" style="cursor:pointer"> -->
  <tr>
    <td class="DayNum" style="background-color:#c7c9cc"></td>
    <td class="DayNum" style="background-color:#c7c9cc"></td> 
    <td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum">1</td>
	<td class="DayNum">2</td>
  </tr>
  <tr>
    <td class="DayNum">3</td>
    <td class="DayNum">4</td> 
    <td class="DayNum">5</td>
	<td class="DayNum">6</td>
	<td class="DayNum">7</td>
	<td class="DayNum">8</td>
	<td class="DayNum">9</td>
  </tr>
  <tr>
    <td class="DayNum">10</td>
    <td class="DayNum">11</td> 
    <td class="DayNum">12</td>
	<td class="DayNum">13</td>
	<td class="DayNum">14</td>
	<td class="DayNum">15</td>
	<td class="DayNum">16</td>
  </tr>
  <tr>
    <td class="DayNum">17</td>
    <td class="DayNum">18</td> 
    <td class="DayNum">19</td>
	<td class="DayNum">20</td>
	<td class="DayNum">21</td>
	<td class="DayNum">22</td>
	<td class="DayNum">23</td>
  </tr>
  <tr>
    <td class="DayNum">24</td>
    <td class="DayNum">25</td> 
    <td class="DayNum">26</td>
	<td class="DayNum">27</td>
	<td class="DayNum">28</td>
	<td class="DayNum">29</td>
	<td class="DayNum">30</td>
  </tr>
  <tr>
      <td class="DayNum" >31</td>
      <td class="DayNum" style="background-color:#c7c9cc"></td>
      <td class="DayNum" style="background-color:#c7c9cc"></td>
      <td class="DayNum" style="background-color:#c7c9cc"></td>
      <td class="DayNum" style="background-color:#c7c9cc"></td>
      <td class="DayNum" style="background-color:#c7c9cc"></td>
      <td class="DayNum" style="background-color:#c7c9cc"></td>
  </tr>
</table>


 <!--------------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------------------------------->
   <!--------------------------------------------------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------------------------------------------->
<table style="width:45%;margin-bottom:8.64em" align="right">
  <tr>
    <th colspan="7"style="background-color:#7194da;color:white;text-shadow: 1px 1px black;">April</th>
  </tr>
  <tr>
    <td class="DayOfWeek" style = "color:#000000">Sunday</td>
    <td class="DayOfWeek" style = "color:#000000">Monday</td> 
    <td class="DayOfWeek" style = "color:#000000">Tuesday</td>
	<td class="DayOfWeek" style = "color:#000000">Wednesday</td>
	<td class="DayOfWeek" style = "color:#000000">Thursday</td>
	<td class="DayOfWeek" style = "color:#000000">Friday</td>
	<td class="DayOfWeek" style = "color:#000000">Saturday</td>
  </tr>
  <!-- <tr onclick="document.location='DayViewExample.html'" style="cursor:pointer"> -->
  <tr>
    <td class="DayNum" style="background-color:#c7c9cc"></td>
    <td class="DayNum">1</td> 
    <td class="DayNum">2</td>
	<td class="DayNum">3</td>
	<td class="DayNum">4</td>
	<td class="DayNum">5</td>
	<td class="DayNum">6</td>
  </tr>
  <tr>
    <td class="DayNum">7</td>
    <td class="DayNum">8</td> 
    <td class="DayNum">9</td>
	<td class="DayNum">10</td>
	<td class="DayNum">11</td>
	<td class="DayNum">12</td>
	<td class="DayNum">13</td>
  </tr>
  <tr>
    <td class="DayNum">14</td>
    <td class="DayNum">15</td> 
    <td class="DayNum">16</td>
	<td class="DayNum">17</td>
	<td class="DayNum">18</td>
	<td class="DayNum">19</td>
	<td class="DayNum">20</td>
  </tr>
  <tr>
    <td class="DayNum">21</td>
    <td class="DayNum">22</td> 
    <td class="DayNum">23</td>
	<td class="DayNum">24</td>
	<td class="DayNum">25</td>
	<td class="DayNum">26</td>
	<td class="DayNum">27</td>
  </tr>
  <tr>
    <td class="DayNum">28</td>
    <td class="DayNum">29</td> 
    <td class="DayNum">30</td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
  </tr>
</table>
<!--------------------------------------------------------------------------------------------------------------------------------------------->
         <!--------------------------------------------------------------------------------------------------------------------------------------------->
         
         
<table style="width:45%;margin-bottom:8.64em" align="left">
  <tr>
    <th colspan="7"style="background-color:#7194da;color:white;text-shadow: 1px 1px black;">May</th>
  </tr>
  <tr>
    <td class="DayOfWeek" style = "color:#000000">Sunday</td>
    <td class="DayOfWeek" style = "color:#000000">Monday</td> 
    <td class="DayOfWeek" style = "color:#000000">Tuesday</td>
	<td class="DayOfWeek" style = "color:#000000">Wednesday</td>
	<td class="DayOfWeek" style = "color:#000000">Thursday</td>
	<td class="DayOfWeek" style = "color:#000000">Friday</td>
	<td class="DayOfWeek" style = "color:#000000">Saturday</td>
  </tr>
  <!-- <tr onclick="document.location='DayViewExample.html'" style="cursor:pointer"> -->
  <tr>
    <td class="DayNum" style="background-color:#c7c9cc"></td>
    <td class="DayNum" style="background-color:#c7c9cc"></td> 
    <td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum">1</td>
	<td class="DayNum">2</td>
	<td class="DayNum">3</td>
	<td class="DayNum">4</td>
  </tr>
  <tr>
    <td class="DayNum">5</td>
    <td class="DayNum">6</td> 
    <td class="DayNum">7</td>
	<td class="DayNum">8</td>
	<td class="DayNum">9</td>
	<td class="DayNum">10</td>
	<td class="DayNum">11</td>
  </tr>
  <tr>
    <td class="DayNum">12</td>
    <td class="DayNum">13</td> 
    <td class="DayNum">14</td>
	<td class="DayNum">15</td>
	<td class="DayNum">16</td>
	<td class="DayNum">17</td>
	<td class="DayNum">18</td>
  </tr>
  <tr>
    <td class="DayNum">19</td>
    <td class="DayNum">20</td> 
    <td class="DayNum">21</td>
	<td class="DayNum">22</td>
	<td class="DayNum">23</td>
	<td class="DayNum">24</td>
	<td class="DayNum">25</td>
  </tr>
  <tr>
    <td class="DayNum">26</td>
    <td class="DayNum" style = "color:#FF0000">27</td> 
    <td class="DayNum">28</td>
	<td class="DayNum">29</td>
	<td class="DayNum">30</td>
	<td class="DayNum">31</td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
  </tr>
</table>


 <!--------------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------------------------------->
   <!--------------------------------------------------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------------------------------------------->
<table style="width:45%" align="right">
  <tr>
    <th colspan="7"style="background-color:#7194da;color:white;text-shadow: 1px 1px black;">June</th>
  </tr>
  <tr>
    <td class="DayOfWeek" style = "color:#000000">Sunday</td>
    <td class="DayOfWeek" style = "color:#000000">Monday</td> 
    <td class="DayOfWeek" style = "color:#000000">Tuesday</td>
	<td class="DayOfWeek" style = "color:#000000">Wednesday</td>
	<td class="DayOfWeek" style = "color:#000000">Thursday</td>
	<td class="DayOfWeek" style = "color:#000000">Friday</td>
	<td class="DayOfWeek" style = "color:#000000">Saturday</td>
  </tr>
  <!-- <tr onclick="document.location='DayViewExample.html'" style="cursor:pointer"> -->
  <tr>
    <td class="DayNum" style="background-color:#c7c9cc"></td>
    <td class="DayNum" style="background-color:#c7c9cc"></td> 
    <td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum">1</td>
  </tr>
  <tr>
    <td class="DayNum">2</td>
    <td class="DayNum">3</td> 
    <td class="DayNum">4</td>
	<td class="DayNum">5</td>
	<td class="DayNum">6</td>
	<td class="DayNum">7</td>
	<td class="DayNum">8</td>
  </tr>
  <tr>
    <td class="DayNum">9</td>
    <td class="DayNum">10</td> 
    <td class="DayNum">11</td>
	<td class="DayNum">12</td>
	<td class="DayNum">13</td>
	<td class="DayNum">14</td>
	<td class="DayNum">15</td>
  </tr>
  <tr>
    <td class="DayNum">16</td>
    <td class="DayNum">17</td> 
    <td class="DayNum">18</td>
	<td class="DayNum">19</td>
	<td class="DayNum">20</td>
	<td class="DayNum">21</td>
	<td class="DayNum">22</td>
  </tr>
  <tr>
    <td class="DayNum">23</td>
    <td class="DayNum">24</td> 
    <td class="DayNum">25</td>
	<td class="DayNum">26</td>
	<td class="DayNum">27</td>
	<td class="DayNum">28</td>
	<td class="DayNum">29</td>
  </tr>
  <tr>
      <td class="DayNum">30</td>
    <td class="DayNum" style="background-color:#c7c9cc"></td> 
    <td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
  </tr>
</table>
</div>

<table style="width:45%" align="left">
  <tr>
    <th colspan="7"style="background-color:#7194da;color:white;text-shadow: 1px 1px black;">July</th>
  </tr>
  <tr>
    <td class="DayOfWeek" style = "color:#000000">Sunday</td>
    <td class="DayOfWeek" style = "color:#000000">Monday</td> 
    <td class="DayOfWeek" style = "color:#000000">Tuesday</td>
	<td class="DayOfWeek" style = "color:#000000">Wednesday</td>
	<td class="DayOfWeek" style = "color:#000000">Thursday</td>
	<td class="DayOfWeek" style = "color:#000000">Friday</td>
	<td class="DayOfWeek" style = "color:#000000">Saturday</td>
  </tr>
  <!-- <tr onclick="document.location='DayViewExample.html'" style="cursor:pointer"> -->
  <tr>
    <td class="DayNum" style="background-color:#c7c9cc"></td>
    <td class="DayNum">1</td> 
    <td class="DayNum">2</td>
	<td class="DayNum">3</td>
	<td class="DayNum" style = "color:#FF0000">4</td>
	<td class="DayNum">5</td>
	<td class="DayNum">6</td>
  </tr>
  <tr>
    <td class="DayNum">7</td>
    <td class="DayNum">8</td> 
    <td class="DayNum">9</td>
	<td class="DayNum">10</td>
	<td class="DayNum">11</td>
	<td class="DayNum">12</td>
	<td class="DayNum">13</td>
  </tr>
  <tr>
    <td class="DayNum">14</td>
    <td class="DayNum">15</td> 
    <td class="DayNum">16</td>
	<td class="DayNum">17</td>
	<td class="DayNum">18</td>
	<td class="DayNum">19</td>
	<td class="DayNum">20</td>
  </tr>
  <tr>
    <td class="DayNum">21</td>
    <td class="DayNum">22</td> 
    <td class="DayNum">23</td>
	<td class="DayNum">24</td>
	<td class="DayNum">25</td>
	<td class="DayNum">26</td>
	<td class="DayNum">27</td>
  </tr>
  <tr>
    <td class="DayNum">28</td>
    <td class="DayNum">29</td> 
    <td class="DayNum">30</td>
	<td class="DayNum">31</td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
  </tr>
</table>
 <!--------------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------------------------------->
   <!--------------------------------------------------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------------------------------------------->
<table style="width:45%" align="right">
  <tr>
    <th colspan="7"style="background-color:#7194da;color:white;text-shadow: 1px 1px black;">August</th>
  </tr>
  <tr>
    <td class="DayOfWeek" style = "color:#000000">Sunday</td>
    <td class="DayOfWeek" style = "color:#000000">Monday</td> 
    <td class="DayOfWeek" style = "color:#000000">Tuesday</td>
	<td class="DayOfWeek" style = "color:#000000">Wednesday</td>
	<td class="DayOfWeek" style = "color:#000000">Thursday</td>
	<td class="DayOfWeek" style = "color:#000000">Friday</td>
	<td class="DayOfWeek" style = "color:#000000">Saturday</td>
  </tr>
  <!-- <tr onclick="document.location='DayViewExample.html'" style="cursor:pointer"> -->
  <tr>
    <td class="DayNum" style="background-color:#c7c9cc"></td>
    <td class="DayNum" style="background-color:#c7c9cc"></td> 
    <td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum">1</td>
	<td class="DayNum">2</td>
	<td class="DayNum">3</td>
  </tr>
  <tr>
    <td class="DayNum">4</td>
    <td class="DayNum">5</td> 
    <td class="DayNum">6</td>
	<td class="DayNum">7</td>
	<td class="DayNum">8</td>
	<td class="DayNum">9</td>
	<td class="DayNum">10</td>
  </tr>
  <tr>
    <td class="DayNum">11</td>
    <td class="DayNum">12</td> 
    <td class="DayNum">13</td>
	<td class="DayNum">14</td>
	<td class="DayNum">15</td>
	<td class="DayNum">16</td>
	<td class="DayNum">17</td>
  </tr>
  <tr>
    <td class="DayNum">18</td>
    <td class="DayNum">19</td> 
    <td class="DayNum">20</td>
	<td class="DayNum">21</td>
	<td class="DayNum">22</td>
	<td class="DayNum">23</td>
	<td class="DayNum">24</td>
  </tr>
  <tr>
    <td class="DayNum">25</td>
    <td class="DayNum">26</td> 
    <td class="DayNum">27</td>
	<td class="DayNum">28</td>
	<td class="DayNum">29</td>
	<td class="DayNum">30</td>
	<td class="DayNum">31</td>
  </tr>
</table>
</div>





<table style="width:45%" align="left">
  <tr>
    <th colspan="7"style="background-color:#7194da;color:white;text-shadow: 1px 1px black;">September</th>
  </tr>
  <tr>
    <td class="DayOfWeek"style = "color:#000000">Sunday</td>
    <td class="DayOfWeek" style = "color:#000000">Monday</td> 
    <td class="DayOfWeek" style = "color:#000000">Tuesday</td>
	<td class="DayOfWeek" style = "color:#000000">Wednesday</td>
	<td class="DayOfWeek" style = "color:#000000">Thursday</td>
	<td class="DayOfWeek" style = "color:#000000">Friday</td>
	<td class="DayOfWeek" style = "color:#000000">Saturday</td>
  </tr>
  <!-- <tr onclick="document.location='DayViewExample.html'" style="cursor:pointer"> -->
  <tr>
    <td class="DayNum">1</td>
    <td class="DayNum" style = "color:#FF0000">2</td> 
    <td class="DayNum">3</td>
	<td class="DayNum">4</td>
	<td class="DayNum">5</td>
	<td class="DayNum">6</td>
	<td class="DayNum">7</td>
  </tr>
  <tr>
    <td class="DayNum">8</td>
    <td class="DayNum">9</td> 
    <td class="DayNum">10</td>
	<td class="DayNum">11</td>
	<td class="DayNum">12</td>
	<td class="DayNum">13</td>
	<td class="DayNum">14</td>
  </tr>
  <tr>
    <td class="DayNum">15</td>
    <td class="DayNum">16</td> 
    <td class="DayNum">17</td>
	<td class="DayNum">18</td>
	<td class="DayNum">19</td>
	<td class="DayNum">20</td>
	<td class="DayNum">21</td>
  </tr>
  <tr>
    <td class="DayNum">22</td>
    <td class="DayNum">23</td> 
    <td class="DayNum">24</td>
	<td class="DayNum">25</td>
	<td class="DayNum">26</td>
	<td class="DayNum">27</td>
	<td class="DayNum">28</td>
  </tr>
  <tr>
    <td class="DayNum">29</td>
    <td class="DayNum">30</td> 
    <td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
  </tr>
</table>


 <!--------------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------------------------------->
   <!--------------------------------------------------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------------------------------------------->
<table style="width:45%" align="right">
  <tr>
    <th colspan="7"style="background-color:#7194da;color:white;text-shadow: 1px 1px black;">October</th>
  </tr>
  <tr>
    <td class="DayOfWeek" style = "color:#000000">  Sunday</td>
    <td class="DayOfWeek" style = "color:#000000">Monday</td> 
    <td class="DayOfWeek" style = "color:#000000">Tuesday</td>
	<td class="DayOfWeek" style = "color:#000000">Wednesday</td>
	<td class="DayOfWeek" style = "color:#000000">Thursday</td>
	<td class="DayOfWeek" style = "color:#000000">Friday</td>
	<td class="DayOfWeek" style = "color:#000000">Saturday</td>
  </tr>
  <!-- <tr onclick="document.location='DayViewExample.html'" style="cursor:pointer"> -->
  <tr>
    <td class="DayNum" style="background-color:#c7c9cc"></td>
    <td class="DayNum" style="background-color:#c7c9cc"></td> 
    <td class="DayNum">1</td>
	<td class="DayNum">2</td>
	<td class="DayNum">3</td>
	<td class="DayNum">4</td>
	<td class="DayNum">5</td>
  </tr>
  <tr>
    <td class="DayNum">6</td>
    <td class="DayNum">7</td> 
    <td class="DayNum">8</td>
	<td class="DayNum">9</td>
	<td class="DayNum">10</td>
	<td class="DayNum">11</td>
	<td class="DayNum">12</td>
  </tr>
  <tr>
    <td class="DayNum">13</td>
    <td class="DayNum" style = "color:#FF0000">14</td> 
    <td class="DayNum">15</td>
	<td class="DayNum">16</td>
	<td class="DayNum">17</td>
	<td class="DayNum">18</td>
	<td class="DayNum">19</td>
  </tr>
  <tr>
    <td class="DayNum">20</td>
    <td class="DayNum">21</td> 
    <td class="DayNum">22</td>
	<td class="DayNum">23</td>
	<td class="DayNum">24</td>
	<td class="DayNum">25</td>
	<td class="DayNum">26</td>
  </tr>
  <tr>
    <td class="DayNum">27</td>
    <td class="DayNum">28</td> 
    <td class="DayNum">29</td>
	<td class="DayNum">30</td>
	<td class="DayNum">31</td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
  </tr>
</table>
</div>


<table style="width:45%" align="left">
  <tr>
    <th colspan="7"style="background-color:#7194da;color:white;text-shadow: 1px 1px black;">November</th>
  </tr>
  <tr>
    <td class="DayOfWeek" style = "color:#000000">Sunday</td>
    <td class="DayOfWeek" style = "color:#000000">Monday</td> 
    <td class="DayOfWeek" style = "color:#000000">Tuesday</td>
	<td class="DayOfWeek" style = "color:#000000">Wednesday</td>
	<td class="DayOfWeek" style = "color:#000000">Thursday</td>
	<td class="DayOfWeek" style = "color:#000000">Friday</td>
	<td class="DayOfWeek" style = "color:#000000">Saturday</td>
  </tr>
  <!-- <tr onclick="document.location='DayViewExample.html'" style="cursor:pointer"> -->
  <tr>
    <td class="DayNum" style="background-color:#c7c9cc"></td>
    <td class="DayNum" style="background-color:#c7c9cc"></td> 
    <td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum">1</td>
	<td class="DayNum">2</td>
  </tr>
  <tr>
    <td class="DayNum">3</td>
    <td class="DayNum">4</td> 
    <td class="DayNum">5</td>
	<td class="DayNum">6</td>
	<td class="DayNum">7</td>
	<td class="DayNum">8</td>
	<td class="DayNum">9</td>
  </tr>
  <tr>
    <td class="DayNum">10</td>
    <td class="DayNum" style = "color:#FF0000">11</td> 
    <td class="DayNum">12</td>
	<td class="DayNum">13</td>
	<td class="DayNum">14</td>
	<td class="DayNum">15</td>
	<td class="DayNum">16</td>
  </tr>
  <tr>
    <td class="DayNum">17</td>
    <td class="DayNum">18</td> 
    <td class="DayNum">19</td>
	<td class="DayNum">20</td>
	<td class="DayNum">21</td>
	<td class="DayNum">22</td>
	<td class="DayNum">23</td>
  </tr>
  <tr>
    <td class="DayNum">24</td>
    <td class="DayNum">25</td> 
    <td class="DayNum">26</td>
	<td class="DayNum">27</td>
	<td class="DayNum" style = "color:#FF0000">28</td>
	<td class="DayNum">29</td>
	<td class="DayNum">30</td>
  </tr>
</table>


 <!--------------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------------------------------->
   <!--------------------------------------------------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------------------------------------------->
<table style="width:45%" align="right">
  <tr>
    <th colspan="7"style="background-color:#7194da;color:white;text-shadow: 1px 1px black;">December</th>
  </tr>
  <tr>
    <td class="DayOfWeek" style = "color:#000000">Sunday</td>
    <td class="DayOfWeek" style = "color:#000000">Monday</td> 
    <td class="DayOfWeek" style = "color:#000000">Tuesday</td>
	<td class="DayOfWeek" style = "color:#000000">Wednesday</td>
	<td class="DayOfWeek" style = "color:#000000">Thursday</td>
	<td class="DayOfWeek" style = "color:#000000">Friday</td>
	<td class="DayOfWeek" style = "color:#000000">Saturday</td>
  </tr>
  <!-- <tr onclick="document.location='DayViewExample.html'" style="cursor:pointer"> -->
  <tr>
    <td class="DayNum">1</td>
    <td class="DayNum">2</td> 
    <td class="DayNum">3</td>
	<td class="DayNum">4</td>
	<td class="DayNum">5</td>
	<td class="DayNum">6</td>
	<td class="DayNum">7</td>
  </tr>
  <tr>
    <td class="DayNum">8</td>
    <td class="DayNum">9</td> 
    <td class="DayNum">10</td>
	<td class="DayNum">11</td>
	<td class="DayNum">12</td>
	<td class="DayNum">13</td>
	<td class="DayNum">14</td>
  </tr>
  <tr>
    <td class="DayNum">15</td>
    <td class="DayNum">16</td> 
    <td class="DayNum">17</td>
	<td class="DayNum">18</td>
	<td class="DayNum">19</td>
	<td class="DayNum">20</td>
	<td class="DayNum">21</td>
  </tr>
  <tr>
    <td class="DayNum">22</td>
    <td class="DayNum">23</td> 
    <td class="DayNum">24</td>
	<td class="DayNum" style = "color:#FF0000">25</td>
	<td class="DayNum">26</td>
	<td class="DayNum">27</td>
	<td class="DayNum">28</td>
  </tr>
  <tr>
    <td class="DayNum">29</td>
    <td class="DayNum">30</td> 
    <td class="DayNum">31</td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
	<td class="DayNum" style="background-color:#c7c9cc"></td>
  </tr>
</table>
</div>

</body>
</html>