<h1>Work Calendar</h1>
<div id="loginDiv">

    Username: <input type="text" name="username">
    <br> <br>
    Password: <input type="password" name="password">
    <br> <br>
    <%= link_to 'Submit', controller: 'articles' %>
</div>