// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    color: #6f7072;
}
h1 {
    font-size:32px;
    text-align: center;
    padding-top: 100px;

}
body {
    background-color: #a0c4ff;
    text-align: center;
}
#loginDiv {
    margin: auto;
    width:16em;
    text-align: right;
}
